.checkbox-wrapper {
  position: relative;
  overflow: hidden;
}

/* Customize the label (the container) */
.container {
  height: 20px;
  margin: 10px 0;
  display: flex;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container .label {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01071em;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border: 2px solid var(--grey-color);
}

/* On mouse-over, add a grey background color */
/*.container:hover input ~ .checkmark {
  
}*/

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container, .container input{
  -webkit-tap-highlight-color: rgba(0,0,0,0);;
}

.container .checkmark:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  transform: translate(-2px,-2px);
  background: rgba(0, 0, 0, 0);
}

@keyframes ripple {
  0% {
    transform: scale(0, 0) translate(0,0);
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
  }
  20% {
    transform: scale(4, 4) translate(-1px,-1px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(8, 8) translate(-1px,-1px);
    background: rgba(255, 255, 255, 0);
  }
}

.container input:checked:focus ~ .checkmark:before {
  animation: ripple 1s ease-out;
}