:root {
  --primary-color: #8B0B0A;
  --secondary-color: #E5A72C;
  --lightgrey-color: #F5F5F5;
  --grey-color: #666;
  --border-radius: 10px;
  --background-color: #FAFAFA;

  font-family: 'Roboto', sans-serif;
}

html, body, #__next {
  height: 100%;
}

/* {cursor: pointer;} /*FIX: iOS Buttons*/

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}