@media screen and (max-height: 530px) {
  .hide-on-keyboard {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .hide-navbar-on-keyboard {
    display: none;
  }

  .padding-bottom-0-on-keyboard {
    padding-bottom: 0 !important;
  }
}