/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0; 
  border-radius: var(--border-radius);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666; 
}